@import "./global";

.contato {
  padding: 120px 20px;
  display: flex;
  justify-content: center;
}

.form-box {
  background: $orange;
  padding: 35px;
  border-radius: 20px;
  width: 360px;
  text-align: center;
  color: white;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);

  h3 {
    margin-bottom: 10px;
  }

  p {
    font-size: 13px;
    margin-bottom: 20px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
  }

  textarea {
    height: 80px;
    resize: none;
  }

  button {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background: $secondary;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
}