@use "./global" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;

  @media (max-width: 768px) {
    padding: 20px;
    flex-direction: column;
    gap: 10px;
  }
}

.logo img {
  height: 90px;
  object-fit: contain;

  @media (max-width: 768px) {
    height: 70px;
  }
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  a {
    margin-left: 30px;
    text-decoration: none;
    color: $primary;
    font-weight: 500;
    font-size: 20px;
    transition: 0.3s;

    &:hover {
      color: $orange;
    }

    &.active {
      color: $orange;
      font-weight: bold;
    }
  }

  @media (max-width: 768px) {
    a {
      margin-left: 15px;
      font-size: 16px;
    }
  }
}